@import url('https://free.bboxtype.com/embedfonts/?family=FiraGO:700i');
body{
  font-family: 'FiraGO', sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* NAVIGATION */
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
.brand-logo{
    width: 80px;
    transition: 0.3s;
}
.badge-danger{
  color: black;
}
.nav-link{
    color: black;
    letter-spacing: .5px;
    transition: 0.1s ease;
}
.navbar-nav .nav-item{
    margin-right: 40px;
    gap: 100px;
}
.navbar{
  background-color: transparent;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}
.navbar:hover{
  background-color: white;
}
.nav-link:hover{
    /* color: cadetblue !important; */
    color: blue !important;
    font-size: large;
}
.container{
    padding-top: 20px;
}
.dropdown-menu {
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .dropdown-item {
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .dropdown-item:hover {
    color: blue;
  }

  /* MAIN PAGE */
.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    width: 1000px;
    border-radius: 5px;
}
.delete-button {
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-right: 40px;
}
.delete-button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}
.categories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.category-span{
    margin-left: 60px;
}